
body{
    line-height: 1.8;
    font: 20px Montserrat, sans-serif;
    line-height: 1.5;
}

.whitefont{
  color:white;
  padding:0.5%;
}

.footer{
  position: fixed;
  padding: 5px;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}