{% extends "layout.html" %}
{% block title %}
    Add details
{% endblock %}

{% block main %}

<h2 align="center" class="pad10"> Add your card info </h2>
<form action="/addfininfo" method="post">
  <div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-12 pad10">
      <input autocomplete="off" autofocus class="form-control" id="cardname" name="cardname" placeholder="Card Name e.g. chase Rewards" type="text">
  </div>
  <div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-12 pad10">
      <input autocomplete="off" autofocus class="form-control" id="amountused" name="amountused" placeholder="Amount used in usd" type="text">
  </div>
  <div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-12 pad10">
      <input autocomplete="off" autofocus class="form-control" id="limit" name="limit" placeholder="Card Limit in usd" type="text">
  </div>
  <div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-12 pad10">
      <input class="form-control mx-auto w-auto" id="cashapr" name="cashapr" placeholder="Cash Advance APR %" type="text">
  </div>
  <div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-12 pad10">
    <input class="form-control mx-auto w-auto" id="baltranapr" name="baltranapr" placeholder="Balance Transfer APR %" type="text">
  </div>
  <div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-12 pad10">
    <input class="form-control mx-auto w-auto" id="purchaseapr" name="purchaseapr" placeholder="Purchases APR %" type="text">
  </div>
  <div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-12 pad10">
    <input class="form-control mx-auto w-auto" id="benefits" name="benefits" placeholder="Benefits info" type="text">
  </div>
  <div align="center" class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-12 pad10">
    <button class="btn btn-primary" type="submit" align="center">Add Info</button>
  </div>
  
</form>

{% endblock %}