{% extends "layout.html" %}
{% block title %}
    Homepage
{% endblock %}

{% block main %}

<h1 align="center">Welcome {{session.username}} !!</h1>  
<br>
<br>
<br>
<br>
<div class="buttons" align="center">
    <button type="button" class="btn btn-primary" align="center"><a href="{{ url_for('addfininfo') }}">Add financial info</a></button>
    <button type="button" class="btn btn-primary" align="center"><a href="{{ url_for('analysis') }}">Analyze you Financials</a></button>
</div>

{% endblock %}