{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
<div class="jumbotron">
    <h1 class="display-4">FinArm</h1>
    <p class="lead">A helping hand to strengthen your financial freedom strategy.</p>
    <hr class="my-4">
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" role="button">Get Started</a>
    </p>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <h3>Insights</h3>
        <p>Get Insights on your Debt Ratio, Having this insight helps you to undestand how it will impact your credit score.</p>
        <p>Get to know your Debt behavior</p>
      </div>
      <div class="col-sm-4">
        <h3>Analysis</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
      </div>
      <div class="col-sm-4">
        <h3>Simulation</h3>        
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
      </div>
    </div>
  </div>
{% endblock %}
