{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
<div class="jumbotron">
    <h1 class="display-4">FinArm</h1>
    <p class="lead">A helping hand to strengthen your financial freedom strategy.</p>
    <hr class="my-4">
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" role="button">Get Started</a>
    </p>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <h3>Insights</h3>
        <p>Get Insights on your Debt Ratio, Having this insight helps you to undestand how it will impact your credit score.</p>
      </div>
      <div class="col-sm-4">
        <h3>Analysis</h3>
        <p>Analysis on the usage of the card at a particular situation. using right card at right time could reduce your interest or gain you more benefits!!.</p>
      </div>
      <div class="col-sm-4">
        <h3>Simulation</h3>        
        <p>Simulate your Debt Payoff, based off of your credit strategy. see where you stand with your Approach!!.....</p>
      </div>
    </div>
  </div>
{% endblock %}
